@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1vmax;
}

.boardtext {
  font: bold 24px sans-serif;
  fill: black;
  dominant-baseline: middle;
  text-anchor: middle;
}

@keyframes peg-anim {
  0%, 100% {
      transform: translateY(0);
      box-shadow: none;
  }
  50% {
      transform: translateY(-0.5rem);
      box-shadow: 0 0.4rem 0.4rem rgba(0,0,0,0.7);
  }
}

@keyframes flip-anim {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 100;
    transform: rotateY(0);
  }
}

@keyframes dialog-close-anim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}

@layer components {
  .btn {
    @apply
      px-4 py-2 text-sm font-medium text-gray-700 bg-transparent border border-gray-800
      hover:bg-yellow-300 hover:bg-opacity-50 hover:text-blue-700
      focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700
      disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .btngroup {
    @apply inline-flex rounded-md shadow-sm;
  }

  .togglebtn {
    @apply px-4 py-2 text-sm font-medium text-gray-700 border border-gray-800;
  }

  .toggledbtn {
    @apply bg-yellow-300 bg-opacity-50;
  }

  .dialog {
    @apply
      block bg-seamless rounded-lg shadow backdrop:bg-gray-500 backdrop:bg-opacity-70
      transition-opacity duration-1000;
      animation: dialog-close-anim 500ms ease-in-out forwards;
  }

  .dialog:not([open]) {
    @apply pointer-events-none opacity-0;
  }
  
  .dialog[open] {
    animation: flip-anim 500ms ease-in-out forwards;
  }

  .dialog-title {
    @apply p-4 min-h-8 border-b-2 border-black text-4xl font-medium;
  }

  .dialog-body {
    @apply p-10 border-black border-b-2;
  }

  .dialog-buttons {
    @apply p-4 flex justify-end gap-4;
  }

  .tooltip {
    @apply bg-white absolute text-center rounded-xl px-2 py-1 mb-4 w-96 transition-opacity duration-500;
    left: -6rem;
    top: -6rem;
  }

  .tooltip::after {
    @apply absolute border-8;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.7rem;
    border-color: white transparent transparent transparent;
  }
}